---
title: "minesweepr: PLAY :: mrgris.com"
---

<% content_for :script do %>
<%= render 'google-analytics' %>
<% end %>

<% content_for :style do %>

#header {
  float: right;
  text-align: right;
  margin-bottom: 15px;
  margin-left: -200px;
}

#header a {
  text-decoration: none;
  color: #004;
}

<% end %>



<div id="header">
<div style="font-size: 40px;">
<a href="/projects/minesweepr/">minesweepr</a> &raquo;
<span style="font-size: 80%; font-weight: bold;">PLAY</span>
</div>
<div style="font-size: 28px;">&raquo;
  <span style="font-size: 80%; font-weight: bold;">
	<a href="../analyzer/">ANALYZE</a>
</span></div>
<div style="margin-top: 5px; font-size: 80%;">
<a href="/">Drew Roos</a>
</div>
</div>
