---
kind: article
created_at: 2011-12-30
title: You would not BELIEVE the day I've had
tags:
- rant
- travel
---

<style>

li {
  list-style: none;
  margin-bottom: 1em;
}

</style>

<!-- have to get to the threesome... have to get to the threesome... -->

- Scene: driving from [Cape Town](<%= geolink(-33.92, 18.42, 2) %>) to [Addo Game Park](<%= geolink(-33.47, 25.78, 0.5) %>)...
- About halfway though, our route through the [Karoo](http://en.wikipedia.org/wiki/Karoo) seems to include a 50-mile stretch of gravel
- 20 miles in... right over a pointy rock; flat tire
- Change the tire, cautiously drive the remaining 30 miles, get tire patched at a shop
- Shop manager comments that the freshly-patched tire's side-wall looks "kinda bulgy"
- Fast-forward... driving on pavement doing ~75 mph
- **BOOM** a _different_ tire blows out
- Put on spare; now have no spare
- Stop at shop seeing if they have replacement tire... no luck
- Continue on; encounter massive potholes. Hear a *phht phht phht* every time the wheel goes around
- Get out to inspect; the spare tire rim is now dented, but the tire still inflated
- Keep driving... *phht phht*, every time the dent spins to the bottom, air is leaking out. Spare tire is now flat.
- Moment of panic ensues. Then, brilliant realization that we can swap the good spare tire onto the flat tire's rim
- Flag someone down, head back to shop we just left
- Shop has now closed five minutes ago
- Guy who gives us a lift turns out to be the brother of the shop-hand. He gets them to help us (momentarily delaying their current task of using the tire pump to inflate a huge kiddie pool)
- Successfully transfer the good spare tire off its bad rim to the good rim of the blown-out tire
- Head back to car with two shophands in tow; replace tire, give them beer
- Now driving with _bulgy_ (which as yet has not had further issues) and _sparey_ on blow-out's rim
- Turns out the pothole street was a wrong turn we never had to go down at all
- Limp along the remaining 40 km (of a 800 km drive) at 35 mph, fully expecting bulgy to go at any moment
- It doesn't; there was much rejoicing

*EPILOGUE...*

- Next day, limp onward to [PE](<%= geolink(-33.93, 25.57, 2) %>) to buy new tires
- Notice that about every fourth car passing us is another VW Polo just like the one we're driving
- Hatch a plan to flag down and borrow a spare when the inevitable happens
- Thankfully (or sadly?), the story does not reach that level of crazy

The elephants were amazing, though.

