--- 
title: About
style: about
scripts:
- age
- curloc
- util
---

<% content_for :script do %>
$(document).ready(function() {
  var clock = new ServerClock();

  var DOB = 434285910. //1983-10-06 06:58:30 -0400
  var elems = {};
  var load_elem = function(e, prefix) {
    var $e = $(e);
    elems[(prefix || '') + $e.attr('id')] = $e;
  };
  $.each($('#age .agecount'), function(i, e) { load_elem(e) });
  $.each($('#ageleft .agecount'), function(i, e) { load_elem(e, '_') });
  register_age_ticker(DOB, 'm', elems, clock);

  register_pos_watcher($('#curloc'), $('#localtime'), clock);

  set_pin(80, $('#herohelper'), $('#hero'));
});
<% end %>

<div id="herohelper">
<img id="hero" src="/img/hero.png">
</div>

<div id="container">

<div id="bio">
<p>
Hello. I'm Drew <a target="_blank" rel="noreferrer" href="http://translate.google.com/translate_tts?q=roos&tl=nl">Roos</a>, and I love to code. I recently realized that most of the things I've messed around with no one has ever seen. Hence, this website: a place to catalog and showcase my work.
</p>

<p>
I enjoy programming projects of all stripes, but I have a particular interest in: geospatial, algorithms, math/physics, monte-carlo methods, and rendering/eye-candy.
</p>

<p>
I work at <a target="_blank" href="http://dimagi.com">Dimagi</a>. My day job is improving healthcare in the developing world through a multitude of technology projects: mobile apps, SMS, solar-powered kiosks in clinics, etc. Before that, I worked for <a target="_blank" href="http://epic.com">Epic</a>, making EMR software for large hospitals and clinics nationwide, concentrating on OR/anesthesia. I graduated from <a target="_blank" href="http://gatech.edu">Georgia Tech</a> with a BS in Computer Science. I went to <a target="_blank" href="http://www.choate.edu">Choate</a> for high school. I skipped two grades. I grew up in Connecticut.
</p>
</div>

<table id="info">

<tr>
<td class="left">
AGE
</td>
<td class="right">

<table id="age" class="age">
<tr><td id="s" class="agecount">&mdash;</td><td class="unit">seconds</td></tr>
<tr><td id="d" class="agecount">&mdash;</td><td class="unit">days</td></tr>
<tr><td id="y" class="agecount">&mdash;</td><td class="unit">years</td></tr>
<tr><td id="le" class="agecount">&mdash;</td><td class="unit">life (expected)</td></tr>
</table>

<!--
<table id="ageleft" class="age">
<tr><td id="s" class="agecount">&mdash;</td><td class="unit">seconds</td></tr>
<tr><td id="d" class="agecount">&mdash;</td><td class="unit">days</td></tr>
<tr><td id="y" class="agecount">&mdash;</td><td class="unit">years</td></tr>
<tr><td id="le" class="agecount">&mdash;</td><td class="unit">life (expected)</td></tr>
</table>
note: cell not wide enough to fit both
-->

</td>
</tr>

<tr>
<td class="left">
LOCATION
</td>
<td class="right">
<a id="curloc" class="loc" target="_blank">&mdash;</a> <span class="localtime">(local time <span id="localtime">&mdash;</span>)</span>
</td>
</tr>

<tr>
<td class="left">
CONTACT
</td>
<td class="right">
<div class="rjust">
<a href="mailto:mrgriscom@gmail.com">mrgriscom@gmail.com</a><br>
<a href="mailto:droos@dimagi.com">droos@dimagi.com</a>
</div>
</td>
</tr>

<tr>
<td class="left">
INTERNETS
</td>
<td class="right">
<div class="rjust">
<a target="_blank" href="http://github.com/mrgriscom">github</a><br>
<a target="_blank" href="http://bitbucket.org/mrgriscom">bitbucket</a><br>
<a target="_blank" href="http://plus.google.com/106348389651498067721">google+</a><br>
<a target="_blank" href="http://twitter.com/#!/mrgriscom">twitter</a><br>
<a target="_blank" href="http://picasaweb.google.com/106348389651498067721">picasa</a><br>
<a target="_blank" href="http://openstreetmap.org/user/mrgriscom">osm</a><br>
<a target="_blank" href="http://www.youtube.com/user/mrgriscom">youtube</a><br>
<a target="_blank" href="http://openflights.org/user/mrgriscom">openflights</a><br>
<a target="_blank" href="http://www.reddit.com/r/RedditorsAnonymous/"><s>reddit</s></a>
</div>
</td>
</tr>

<tr>
<td class="left">
WIFE
</td>
<td class="right">
<a href="http://aredrewandmelissamarriedyet.com" target="_blank">&laquo;acquired&raquo;</a>
</td>
</tr>

<tr>
<td class="left">
LOVES
</td>
<td class="right">
<div class="prose">
maps, GIS, geolocation, geo-anything, navigation, borders, significant figures,
python, DVCS, postgres, yaml, lambdas, french house, daylight savings[sic] time,
honey bunches of oats, space elevators
</div>
</td>
</tr>

<tr>
<td class="left">
HATES
</td>
<td class="right">
<div class="prose">
<a target="_blank" href="http://harmful.cat-v.org/software/xml/s-exp_vs_XML">xml</a>,
aliasing, php, perl, shell scripting, mysql,
<a target="_blank" href="http://thedailywtf.com/Articles/A_Case_of_the_MUMPS.aspx">cach&eacute;/MUMPS</a>,
peters projection, innumeracy, earth hour, referring to a city by its airport code,
waiting in line behind people buying lottery tickets,
<i>"i'm all for [x], but [opinion betraying complete misunderstanding of x]"</i>,
<i>"i don't mean to [x], but [x]"</i>
</div>
</td>
</tr>

<tr>
<td class="left">
PUBLIC KEY
</td>
<td class="right">
<% i_pubkey = @items.find { |i| i.identifier == '/pubkey/' } %>
<%= link_to(i_pubkey[:key_id].upcase, i_pubkey, {:class => 'key'}) %>
</td>
</tr>

<tr>
<td class="left">
</td>
<td class="right">
</td>
</tr>


</table>
</div>
