--- 
title: About
scripts:
- age
---

<% content_for :script do %>
$(document).ready(function() {
  var DOB = 434285910. //1983-10-06 06:58:30 -0400
  register_age_ticker(DOB, 'm', ['drs', 'drd', 'dry', 'drle'], new ServerClock());
});
<% end %>

<p>AGE</p>

<style>
/* todo; finalize and incorporate into main stylesheet */

td {
  line-height: 20px;
}

.r {
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #ccc;
}
</style>

<table border="0">
<tr><td class="r" id="drs">&mdash;</td><td>seconds</td></tr>
<tr><td class="r" id="drd">&mdash;</td><td>days</td></tr>
<tr><td class="r" id="dry">&mdash;</td><td>years</td></tr>
<tr><td class="r" id="drle">&mdash;</td><td>life (expected)</td></tr>
</table>
