--- 
title: Projects
ordering: ['mercator: extreme', 'landfall', 'minesweepr', 'oilslick', 'birdseye', 'whereis.dimagi.com']
---

<%
projects = @item.children.select {|p| not p[:unpublished]}
projects = projects.sort_by {|p| @item[:ordering].index(p[:title].downcase) or 999}
%>

<% projects.each do |proj| %>
	<div class="project">
		<div class="image"><div>
      <%= link_to('<div style="background: url(/img/proj_thumb/%s) no-repeat center;"></div>' % proj[:thumb], proj) %> 
    </div></div>
		<h3><%= link_to(proj[:title], proj) %></h3>
    <%= content_for(proj, :lede) %>
	</div>
<% end %>

