--- 
title: Travel Stats
data:
- country: United States
  date: native
  duration: decades
  noteworthies:
  - Hawaii
  - desc: southernmost point
    name: Ka Lae
  - desc: easternmost point
    name: West Quoddy Head
  - desc: northernmost point in !place{New England}
    name: Estcourt Station
  - desc: lowest point
    name: Badwater Basin

- country: Spain
  date: Jan 1998
  duration: months
  noteworthies:
  - Canary Islands
  - Ceuta

- country: Andorra
  date: Jan 1998
  duration: weeks

- country: Cayman Islands
  sovereign: UK
  date: Mar 1999
  duration: days

- country: Japan
  date: Jul 2001
  duration: days

- country: Canada
  dates:
  - date: Oct 2002
    type: border hop
  - Jun 2009
  duration: weeks
  noteworthies:
  - Labrador
  - desc: easternmost point
    name: Cape Spear

- country: Bahamas
  date: Mar 2004
  duration: days

- country: France
  date: Aug 2005
  duration: days

- country: Monaco
  dates:
  - date: Aug 2005
    type: in transit
  - Nov 2007
  duration: hours
  overnight: false

- country: Italy
  date: Aug 2005
  duration: weeks
  noteworthies:
  - Sicily

- country: Mexico
  dates:
  - date: Oct 2005
    type: border hop
  duration: hours
  overnight: false

- country: Puerto Rico
  sovereign: US
  date: Feb 2006
  duration: days

- country: Iceland
  date: Aug 2007
  duration: weeks

- country: Sweden
  date: Aug 2007
  duration: days

- country: Western Sahara
  status: "disputed: !place{Morocco}/!place{SADR} government-in-exile"
  date: Sep 2007
  duration: days
  comments:
  - visited Moroccan-controlled territory only

- country: Morocco
  date: Sep 2007
  duration: weeks

- country: Gibraltar
  sovereign: UK
  date: Sep 2007
  duration: hours
  overnight: false

- country: Portugal
  date: Sep 2007
  duration: days

- country: Netherlands
  date: Oct 2007
  duration: weeks
  noteworthies:
  - Baarle-Nassau

- country: Belgium
  date: Oct 2007
  duration: days
  noteworthies:
  - Baarle-Hertog

- country: United Kingdom
  date: Oct 2007
  duration: days

- country: Germany
  date: Oct 2007
  duration: weeks

- country: Czech Republic
  date: Oct 2007
  duration: days

- country: Denmark
  date: Nov 2007
  duration: days

- country: Luxembourg
  date: Nov 2007
  duration: hours
  overnight: false

- country: Switzerland
  date: Nov 2007
  duration: days

- country: Liechtenstein
  date: Nov 2007
  duration: hours
  overnight: false

- country: San Marino
  date: Nov 2007
  duration: hours
  overnight: false

- country: Vatican City
  date: Nov 2007
  duration: hours
  overnight: false
  comments:
  - circumnavigated on foot
  - was never both 'inside the city walls' and 'outdoors'

- country: Malta
  date: Dec 2007
  duration: days

- country: Austria
  date: Dec 2007
  duration: days

- country: Slovakia
  dates:
  - date: Dec 2007
    type: in transit
  duration: hours
  overnight: false

- country: Hungary
  date: Dec 2007
  duration: weeks

- country: Poland
  date: Dec 2007
  duration: days

- country: Tanzania
  date: May 2008
  duration: months
  noteworthies:
  - Zanzibar

- country: South Africa
  date: Jun 2008
  duration: weeks

- country: Lesotho
  date: Jun 2008
  duration: days

- country: St. Pierre and Miquelon
  sovereign: France
  date: Jun 2009
  duration: days

- country: Jordan
  date: Dec 2009
  duration: days

- country: Lebanon
  date: Dec 2009
  duration: days

- country: Kenya
  date: Dec 2009
  duration: weeks

- country: Malawi
  date: Mar 2010
  duration: days

- country: Zambia
  date: Mar 2010
  duration: months

- country: Zimbabwe
  dates:
  - date: Apr 2010
    type: border hop
  duration: hours
  overnight: false

- country: Mozambique
  date: May 2010
  duration: weeks

- country: Swaziland
  date: May 2010
  duration: days

- country: United Arab Emirates
  date: Apr 2011
  duration: days

- country: Afghanistan
  date: Apr 2011
  duration: weeks

---

<style>

ol {
  list-style: none;
}

li {
  font-family: Georgia;
  font-style: italic;
  color: white;
  clear: both;
  position: relative;
  min-height: 80px;
  margin-bottom: 50px;
}

.ordinal {
  color: #333;
  font-size: 150px;
  line-height: 75px;
  letter-spacing: -.08em;
  position: absolute;
  left: -65px;
  top: -10px;
  z-index: -1;
}

.ordinal .hash {
  font-size: 66px;
  vertical-align: top;
}

.country {
  font-size: 50px;
  line-height: 45px;
  font-weight: bold;
}

.country a {
  text-decoration: none;
  color: white;
}

.dates {
  float: right;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
  color: #ccc;
}

.datequal {
  font-weight: normal;
  font-size: 14px;
}

.sov {
  color: #ccc;
  font-size: 70%;
  white-space: nowrap;
}

.status {
  color: #ccc;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  white-space: nowrap;
}

.incomplete {
  color: #faa;
}

</style>

<ol>
<% @item[:data].map {|e| Country.new(e)}.each_with_index do |e, i| %>
  <li>
    <div class="ordinal"><span class="hash">#</span><%= i + 1 %></div>
    <div class="dates">
    <% if e.native? %>
      <span class="status">native country</span>
    <% else %>
      <% e.dates.each do |date, type| %>
        <% if type %><span class="datequal">(<%= type %>)</span> <% end %><span<% if not e.complete? %> class="incomplete"<% end %>><%= date %></span><br>
      <% end %>
    <% end %>
    </div>
    <span class="country"><%= e._country %><% if e.sov %><span class="sov"> (<%= e.sov %>)</span><% end %></span>
    <% if e._status %><div class="status">(<%= e._status %>)</div><% end %>
  </li>
<% end %>
</ol>




<hr>

<% @item[:data].map {|e| Country.new(e)}.each_with_index do |e, i| %>
  <p style="color: white; font-size: 16px">
    #<%= i + 1 %> <%= e._country %>
    <% if e.sov %>(<%= e.sov %>)<% end %>
    <% if e._status %>(<%= e._status %>)<% end %><br>
    duration: <%= e.dur %><br>
    <% if not e.noteworthy.empty? %>noteworthies: <%= e.noteworthy.join(', ') %><br><% end %>
    <% if not e.comments.empty? %>comments: <%= e.comments.join('; ') %><br><% end %>
    <% if e.native? %>
      <i>native country</i><br>
    <% else %>
      dates: <%= e.dates.map {|date, type| date + (type ? ' (%s)' % type : '')}.join('; ') %><br>
    <% end %>
    <% if not e.overnight %>no overnight<br><% end %>
    <% if not e.complete? %>INCOMPLETE<br><% end %>
  </p>
<% end %>

<p><a href="#"><%= 245 - @item[:data].count %></a> to go&hellip;</p>
