---
title: VGM
path: /data/music/vgm
urlroot: /media_vgm
system_default: NES
system_override:
- tag: ecco
  system: Sega Genesis
- tag: sonic
  system: Sega Genesis
- tag: batman and robin
  system: Sega Genesis
- tag: toejam
  system: Sega Genesis
- tag: vector
  system: Sega Genesis
- tag: x-men
  system: Sega Genesis
---

<table>
<% mp3info(@item).group_by {|t| [t['game'], t['system']]}.sort.each do |key, tracks|
  game = key[0]
  system = key[1]
%>
  <tr><td colspan="3"><h3><%= game %> for <%= system %></h3></td></tr>
  <% tracks.sort_by {|t| t['title']}.each do |track| %>
    <tr>
    <td><a href="<%= File::join(@item[:urlroot], track['filename']) %>"><%= track['title'] %></a></td>
    <td><%= fmt_length(track['length']) %></td>
    <td><%= track['rating'] %></td>
    </tr>
  <% end %>
<% end %>
</table>
