--- 
title: Birdseye
thumb: birdseye.png
style: project
---

<% content_for :lede do %>
<p>
A home-brew navigation app for netbooks.
Tracks your location via a USB/Bluetooth GPS and presents a full-screen moving map view / heads-up display, made super-smooth via OpenGL.
Using the bundled tool, you pre-cache regions of interest from <em>any</em> web mapping provider, allowing you to navigate completely offline.
The project that motivated me to learn python.
</p>

<p class="li"><%= link_to('Read more...', @item) %></p>
<% end %>

<video width="900" height="527" style="margin-top: -25px; margin-bottom: 15px;" src="/img/birdseye/overview.mp4" autoplay loop></video>

<div class="blob">

<div style="float: right;">
<a style="display: inline-block; text-align: right;" class="button" href="https://github.com/mrgriscom/birdseye" target="_blank">Source</a>
</div>

<h3 style="margin-top: 0.2em;">Genesis</h3>

<p>
Near the end of 2008, way back in the dark ages before tablets, Asus released one of the first netbooks: the <a href="http://en.wikipedia.org/wiki/Asus_Eee_PC">eeePC 901</a>.
I had always been entralled by the idea of a "carputer", and in particular an omnipresent map of my surroundings.
It seemed at least some part of my crazy dream could finally see the light of day.

<p>
The timing was opportune; the concept of easily-repurposed digital maps was only four years old, with the release of Google Maps and their innovation of the tiled "slippy map".
Satellite imagery was also a key element of my vision, and it was nearly impossible to get your hands on before Google Maps added satellite view a year later.
It was a revolutionary time.
</p>

<p>
With my new <a href="http://www.amazon.com/gp/product/B000PKX2KA/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B000PKX2KA&linkCode=as2&tag=mrgriscom-20">USB puck GPS</a> still shipping from Amazon, I set out to survey the state of Linux navigation apps.
I quickly realized I had my work cut out for me.
Hideous interfaces that didn't cooperate with full screen; garish icons; position that only updated in discrete jumps; maps that didn't scroll smoothly.
And, perhaps most controversially, only pulling from free-and-open map sources that at the time were sparse and looked, frankly, terrible.
</p>

<p>
I knew I would have to roll my own, and my sole design criterion boiled down to: <blockquote style="text-align: center; margin-bottom: 40px; font-family: serif; font-style: italic; font-size: 150%;">&ldquo;does not look like complete ass&rdquo;</blockquote>
I got to work and thereafter <em>birdseye</em> was born.
</p>

<h3>Overview</h3>

<p>
The birdseye "suite" is actually several components.
</p>

<h4>Caching</h4>

<img style="float: right; margin-left: 15px; margin-bottom: 15px;" src="/img/birdseye/region.jpg">

<p>
Before you can do anything, you need to get maps onto the netbook.
For this you use the caching tool.
</p>

<p>
While you are still online, you open the caching tool and outline a region of interest.
Specify the max zoom level, then the caching tool will retrieve all necessary tiles for your desired map layers and save them to local storage.
The downloader is multi-threaded and uses optimized HTTP, so can actually work blazing fast; typically the bottleneck is in writing to the eee's sub-par SSD.
</p>

<p>
The caching tool de-duplicates tile storage, thus avoiding millions of identical 'ocean' tiles, in a manner very similar to Mapbox's <a href="https://www.mapbox.com/foundations/an-open-platform/#mbtiles">mbtiles</a> format.
It also omits overlapping regions that have already been cached.
One interesting consequence of that is the app sometimes has a very 'retro' feel.
Google's map style has changed markedly over the years and you don't realize quite how much until you stray into an area that you cached many years ago.
</p>

<p>
Available map layers are defined in the app configuration, and basically any map tile service with a public URL is fair game.
If you can view it in a browser, you can cache it.
My personal configuration has specs for map, satellite, and terrain view; topographic maps; and even nautical and aeronautical charts.
</p>

<p>
Bulk caching in this manner may very likely violate the map provider's ToS.
As long as I do it only for personal use, and choose my coverage area judiciously, it's hard to feel too guilty.
However in distributing this software, I've only included the URL specs for providers whose license explicitly condones it.
If you want to enter the grey area, you must reverse engineer the URLs yourself.
</p>

<div style="float: right; clear: both; margin-left: 15px; margin-bottom: 15px;">
<img src="/img/birdseye/coverage.png">
<div style="text-align: right; font-style: italic; font-size: 90%;">Cached areas for a roadtrip I took to Newfoundland and Labrador</div>
</div>

<p>
My caching methodology is to save a series of progressively localized and detailed basemaps, followed by detailed caching of specific routes/cities on an as-needed basis.

For example, my 'default' basemaps are:
<ul>
<li>whole world to zoom level 8
<li>contiguous US to z11
<li>my broader "region" (roughly a Maine-Chicago-Atlanta triangle) to z13
<li>southern New England and New York City to z16
</ul>

<p>
Then I would follow a similar basemap + inlay pattern for places I plan to visit.
The broader region to z11, specific cities to z16, and anticipated routes to z13/14.
</p>

<p style="clear: both;">
Cache your maps well, or else&hellip;
</p>

<div style="text-align: center;">
<img width="768" height="450" src="/img/birdseye/screenshot_monsters.jpg">
</div>

<h4>Navigation</h4>

<p>
The actual navigation UI is comparatively simple.
</p>

<p>
You get a moving map always centered on your current position.
You also get a single 'destination' waypoint with straight-line distance and bearing.
That's... pretty much it.
</p>

<style>
dt {
  float: left;
  width: 3em;
  clear: left;
  text-align: right;
  margin-right: 1em;
  font-weight: bold;
  font-family: monospace;
}

</style>

<p>
Part of the simplicity simply stems from the logistics of an app meant to be used while driving; you don't want to be doing much.
Navigation mode actually only supports four controls:

<dl>
<dt>z</dt><dd>zoom in</dd>
<dt>x</dt><dd>zoom out</dd>
<dt>v</dt><dd>change map layer</dd>
<dt>m</dt><dd>mark current position</dd>
</dl>
</p>

<p>
All rendering is done with OpenGL for optimum crispness and smoothness.
</p>

<h4>Backend</h4>

<p>
A few backend services keep everything running.
</p>

<p>
First, there is a GPS broadcaster service (which wraps <a href="http://www.catb.org/gpsd/">gpsd</a>).
This service cleans up the idiosyncracies of the GPS itself and interpolates between position fixes (typically one second apart) to provide a smooth location track.
</p>

<p>
In tandem with the broadcaster, there is a logging service that keeps a persistent tracklog wherever the app is used.
</p>

<p>
Lastly, there is a "conductor" of sorts that keeps all the different components running smoothly.
It monitors all components (and the hardware device itself), gives alerts, and restarts things if they crash.
You certainly can't drop down to command line to debug things on the road.
</p>

<h3>Why not get a TomTom?</h3>

<p>
Aside from the obvious DIY appeal, several reasons&hellip;
</p>

<p>
Foremost, I did not want to be beholden to a proprietary company's whims of what maps are fit to run on my device.
We're at the dawn of an age of ubiquitous mapping, and I wanted it &mdash; all of it &mdash; at my fingertips no matter where in the world I was or who it was published by.
</p>

<p>
<div style="width: 768px; font-style: italic; font-size: 90%;">
Birdseye more than proved its worth on this roadtrip through Mozambique. Without the map we surely would have missed this unmarked turn. I can only assume this is a place an off-the-shelf GPS would never touch.
</div>
<img width="768" height="450" src="/img/birdseye/screenshot_chokwe.jpg">
</p>

<p>
<div style="width: 768px; font-style: italic; font-size: 90%;">
We used birdseye in the remote California desert, where our rugged route was best viewed on the USGS topographic map series. If, like us, you wonder what those triangle symbols mean, it turns out they are mines (of the digging kind, not the exploding kind). This also marks the spot where we were strafed by a fighter jet. The restricted airspace of this area is used for training missions.
</div>
<img width="768" height="450" src="/img/birdseye/screenshot_saline.jpg">
</p>

<p>
<div style="width: 768px; font-style: italic; font-size: 90%;">
A stretch of the Everglades. What would have otherwise been a monotonous expanse of green springs to life when switched to satellite view. This is a false-color satellite layer I tiled myself using the <a href="http://glcf.umd.edu/data/mosaic/"><em>GeoCover 2000</em></a> dataset.
</div>
<img width="768" height="450" src="/img/birdseye/screenshot_everglades.jpg">
</p>

<p>
Another reason is that a stock car GPS would give me more help than I want.
I <em>like</em> doing the navigating and determining the optimal route.
My personal opinion is that turn-by-turn directions make you soft.
I want to be at the helm of the command center, so to speak.
The map just another (very high density) information stream.
</p>

<p>
Final reason: UI bling.
Keeping with the 'command center' analogy, I want my app to look like some elite hacker app that <em>the Lone Gunmen</em> would use.
Spinning dials are good.
Distance to the thousandth of a mile.
Clock time to the hundred of a second.
Indulge my inner (outer) geek and display speed in meters per second or as a portion of the speed of light&hellip;
</p>

<p>
&hellip;and why limit yourself to just the car?
</p>
<p>
<div style="text-align: right;">
<video width="768" height="450" src="/img/birdseye/boat.mp4" autoplay loop></video>
<div style="font-style: italic; font-size: 90%;">I'm on a boat!</div>
</div>
</p>
<p>
<div>
<video width="768" height="450" src="/img/birdseye/plane.mp4" autoplay loop></video>
<div style="font-style: italic; font-size: 90%;">I'm on a plane!</div>
</div>
</p>


<h3>Action Shots!</h3>

<p>
<!-- replace me -->
<img src="/img/birdseye/action.jpg">
</p>

<div style="float: right; margin-left: 15px; margin-bottom: 15px;">
<img src="/img/birdseye/action_console.jpg">
</div>
<p>
The "platform" of tongs wedged into a center console compartment; laptop secured with a rubber band.
Surprisingly sturdy.
Power on longer trips supplied via shown inverter.
Many have questioned the presence of tongs in my glovebox.
</p>

<p style="clear: both;">
<div>
<img src="/img/birdseye/action_code.jpg">
<div style="font-style: italic; font-size: 90%;">Some last-minute <em>road coding</em> to support metric units in honor of Melissa's first visit to the US</div>
</div>
</p>

<h3>Alas</h3>

<p>
Sadly, I never got as far with this as I would have liked to.
I had many more grand ideas for features, including:

<ul>
<li>alternate orientations, like "track up" vs. default "north up", or multiple panes showing different zoom levels simultaneously
<li>administrative areas, to indicate your current country/state/county/township/national park/exclusive economic zone/whatever
<li>an event-based rendering pipeline to prevent 'jitter' and other blocking of the UI thread
<li>display your path travelled / breadcrumb trail
<li>upload your expected route via kml; display distance along route / distance off-course
<li>ETA calculation based on average speed
<li>position of sun; time of sunrise/sunset (considering it changes as you move)
<li>automatic timezone switching
</ul>
</p>

<p>
But with the smartphone revolution, and compelling features like real-time traffic, I started devoting less and less time to birdseye.
You can only invest so much effort for a userbase of 1.
</p>

</div>
