--- 
title: Landfall
thumb: landfall.jpg
style: project
---

<% content_for :lede do %>
<p>
If you've ever stood on a beach staring out at the ocean, wondering what's across the other side, this project is for you.
It computes the first landfall in all directions from a given point.
Results are presented in a panorama-esque 'first person' view, as well as more traditional sightlines viewable in Google Earth.
Due to the curvature of the Earth, the results may surprise you!
Powered by data from OpenStreetMap.
</p>

<p class="li"><%= link_to('Read more&hellip;', @item) %></p>
<% end %>

<!-- table needed so sidebar div will extend full vertical length of content -->
<table id="mnswmain">
<tr>

<td id="mnswcontent">

<p>
Whenever I've stood on a beach, staring at the expanse of ocean in front of me, my mind inevitably wanders to what's across the other side.
After a journey of thousands of miles across featureless water, where would you end up?
</p>

<p>
I've seen a few treatments of this concept, but to date none have been fully satisfying.
By far, the biggest mistake is taking 'across' to mean a <a target="_blank" href="http://i.imgur.com/OMHsSEb.png">straight bearing east or west</a>, completely ignorant of the curvature of the Earth.
Most people, when looking out from the US East Coast, think they're "looking at" Europe, when in fact the direction of Europe is much farther northeast, and mostly blocked by Canada; you're actually looking at Africa.
That is to say: starting due east from America, a straight line along the curved surface of the Earth will hit Africa.
Nevermind that most of the US East Coast faces rather south of east anyway&hellip;
</p>

<p>
<a target="_blank" href="http://i.imgur.com/8jIsbL2.png">Other attempts</a> do a better job, but even then feel somewhat lacking.
Islands and archipelagos are overlooked, even though they may completely blot out the paths to farther continents.
I want to see every scrap of rock that I may run aground on.
And having a sense of relative distance would be nice, too.
</p>

<p>
And lastly, to my knowledge, every previous attempt has been created manually by hand.
</p>

<p>
So I created <em>Landfall</em>.  
</p>

<h3>Computing landfall</h3>

<p>
Step one is to compute the landfall from a given point in all directions.
This is achieved through an algorithm that determines the distance to land at many evenly spaced bearings.
With enough samples (default settings compute about 50 samples per degree) you can get a smooth coastline curve of the land across the ocean from you.
The algorithm is designed such that small rocks or islets are never 'missed', even if they are narrower than the spacing of samples.
</p>
  
<p>
In finding the distance to land along a given bearing, we factor in the curvature of the (assumed spherical) Earth, as well as oddities like crossing beyond the antipode (more than halfway around the world) before hitting land.
In addition to distance, the country/state of the land hit is also noted.
</p>

<p>
With efficient spatial indexing, a single landfall 'viewshed' can be computed in under 30 seconds.
</p>

<h3>Source data</h3>

<p>
The source data for both coastline and political boundaries is extracted from OpenStreetMap.
The coastline extract can basically be used as-is (with a few corrections that get automatically applied).
The political data was much messier (failing to include outlying islands, not exactly lining up with adjacent countries, etc.), so has been curated into a cleaned dataset that lives with the project.
</p>

<p>
One interesting side-effect of this project was exposing many phantom islands in OpenStreetMap that didn't actually exist.
Much of OSM's coastline data comes from automated extraction from satellite imagery, which obviously will make some mistakes.
On the normal map such scraps of land are nearly imperceptible, but in a landfall perspective they jump out like night and day.
(I have since made edits to remove these false islands.)
</p>

<h3>Visualization</h3>

<p>
Now that we've computed the raw data, how best to visualize it?
The standard answer is: superimposed on a map.
Such a view is indeed eye-opening (and exports to Google Earth are provided for this reason), but it still feels wanting.
Straight lines become oscillating curves on a conventional map projection, which obscures the original direction of travel from the source point.
It's also hard to appreciate both the very near and the very far in the same view.
</p>

<p>
To truly capture that 'looking out upon the ocean' feeling, I wanted a first-person view.
So I created a panorama-style rendering that imagines you could look beyond the horizon.
Direction of view changes linearly as you scan left and right.
Nearby land appears as tall massifs and farther land recedes into the distance.
Sudden changes in distance to land are marked by 'creases' to add texture.
</p>

<p>
Try to perceive it as a 3D perspective scene.
</p>

<p>
Color-coding is also a key element of making sense of what you're looking at.
Admin areas are colored automatically.
Labeling, however, is manual work at this time.
</p>

</td>

<td>
<table id="mnswsidebar">

<tr>
<td style="height: 1px; padding-bottom: 35px;">

<a class="button" href="http://github.com/mrgriscom/landfall/" target="_blank">Source</a>
<a class="button" href="#panoramas">Panoramas</a>

</td>
</tr>

<tr>
<td class="sidebarbg">

<style>

@keyframes portal {
    0% { transform: translateX(0px); }
   50% { transform: translateX(-1px); /* offset set in js */ }
  100% { transform: translateX(0px); }
}

.portal-pan {
  animation-name: portal;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.portal-bg {
  background-image: url(/img/bg/landfall_sidebar.jpg);
  background-size: cover;
  background-position: 0% 50%;

  position: absolute;
  height: 100%;
  /* width set in js */
  top: 0;
  left: 0;
}

#sidebar-inner {
  background: none;
  overflow: hidden;

  /* voodoo to get the animation to not render on top of the rounded corners of the container */
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}

</style>

<table id="sidebar-inner"><tr><td style="position: relative;">
<div class="portal-bg portal-pan" />
</td></tr></table>

</td>
</tr>

</table>
</td>

</tr>
</table>

<a name="panoramas">
<h3 style="margin-bottom: .3em;">Featured Panoramas</h3>
</a>

<div style="font-size: 90%;">
Again, imagine you're standing at a point looking out.
Try to perceive the 'depth' of these images.  
</div>

<%
panos = [
  {
    name: 'capemay',
    title: 'Cape May Inlet, New Jersey',
  },
  {
    name: 'capetown',
    title: 'Cape of Good Hope, South Africa',
  },
  {
    name: 'northpole',
    title: 'North Pole',
    content: 'People complain that this image is "backwards", but remember it\'s from the perspective of if you were actually standing at the North Pole (i.e., turning to your right moves your gaze westward).',
  },
  {
    name: 'ptreyes',
    title: 'Point Reyes, California',
    content: 'A great vantage point for looking across the Pacific and the morass of islands therein. This one took forever to label.',
  },
  {
    name: 'gaza',
    title: 'Gaza Strip',
    content: 'This position was actually chosen because it allows for the longest line of sight across the Mediterranean. But the context of the Israeli blockade provides some added food for thought.',
  },
  {
    name: 'longest',
    title: 'Longest Straight-line Sail:<br>Sonmiani Bay, Pakistan &harr; Karaginsky Gulf, Russia',
    content: 'This panorama displays the longest straight line over water &mdash; a journey over 80% of the way around the world without ever hitting land. This exercise is a bit disingenuous as we presume a spherical Earth, and the tolerances involved &mdash; threading the needle between the Seychelles and the Aleutian Islands &mdash; could easily be exceeded when accounting for the Earth\'s true shape.',
  },
]

panos.each do |p|
%>

<p>
<table style="width: 100%;">
<tr>
<td>
<div>
<%= p[:title] %>
</div>
<div style="font-style: italic; font-size: 90%; width: 840px;">
<%= p[:content] %>
</div>
</td>
<td style="vertical-align: bottom;">
<a target="_blank" href="/img/landfall/photosphere/<%= p[:name] %>.photosphere.jpg" title="Photosphere: for immersive viewing in a VR environment, such as Google Photos app on Android"><img alt="Photosphere" src="/img/icon/photosphere.png"></a>
<a href="<%= p[:name] %>.kml" title="Google Earth"><img alt="Google Earth" src="/img/icon/googleearth.png"></a>
</td>
</tr>
</table>
<a target="_blank" href="/img/landfall/<%= p[:name] %>.png">
<img src="/img/landfall/thumb/thumb-<%= p[:name] %>.jpg">
</a>
</p>

<% end %>

<% content_for :script do %>

$(function() {
  var $bg = $('.portal-bg');

  var bg = new Image();
  bg.onload = function() {
    $bg.width($bg.height() * bg.width / bg.height);

    var keyframeRule = null;
    $.each(document.styleSheets, function(i, sheet) {
      $.each(sheet.cssRules, function(i, rule) {
        if (rule.name == "portal") {
          keyframeRule = rule;
        }
      });
    });

    var maxPanSubrule = null;
    $.each(keyframeRule.cssRules, function(i, subrule) {
      if (subrule.keyText == "50%") {
        maxPanSubrule = subrule;
      }
    });
    var offset = $bg.width() - $('#sidebar-inner').width();
    maxPanSubrule.style.transform = "translateX(" + (-offset) + "px)";
  };
  bg.src = $bg.css('background-image').match(/^url\("?(.*?)"?\)$/)[1];
});

<% end %>
