--- 
title: "LED Meshes"
thumb: lsdome.jpg
external_link: "http://lsdo.me"
---

<% content_for :lede do %>
<p>
<b>Limitless Slip Dome</b><br>
A 4m-wide suspended mesh of ~3,000 addressable LED pixels.
Displays algorithmic visuals, full-motion video, or can stream content from desktop OS.
Capable of sound and motion interactivity.
Don't walk too close or you'll get caught in its gravitational pull.
Art project for AfrikaBurn 2016+, followed by&hellip;
</p>

<p>
<b>Prometheus</b><br>
A fearsome insect creature: 15m wingspan; mounted atop a scissor lift rising 17m into the air.
Wings fully covered with LEDs in a semi-regular grid&ndash; one entire dome's worth per wing.
Same software stack and crazy visuals, with added support for remote control, content mapping effects, and HDMI-in for live guest VJing.
Welcome your new overlord!
AB2018.
</p>

<p class="li"><%= link_to('Album', 'https://photos.app.goo.gl/asQl2ys5fCeNn5e82') %></p>
<p class="li"><%= link_to('Source code', 'https://github.com/mrgriscom/ellis-dome') %></p>
<% end %>
