--- 
title: "Limitless Slip Dome"
thumb: lsdome.jpg
external_link: "http://lsdo.me"
---

<% content_for :lede do %>
<p>
A 4m-wide suspended mesh of ~3,000 addressable LED pixels.
Displays algorithmic visual art, full-motion video, or can stream content from desktop OS.
Capable of sound and motion interactivity.
Don't walk too close or you'll get caught in its gravitational pull.
Art project for AfrikaBurn 2016+.  
</p>

<p class="li"><%= link_to('Read more&hellip;', @item[:external_link]) %></p>
<% end %>
