--- 
title: Oilslick
thumb: oilslick.jpg
---

<% content_for :lede do %>
<p>
A color elevation map layer designed to maximize contrast of small elevation differences and highlight the fine detail in terrain.
Made to address what I perceive to be flaws in typical color elevation ("hypsometric") maps.
The end result is vibrant, a bit disorienting, and absolutely saturated with information.
Provides global coverage to 3&#x2033; / 90m resolution.
</p>

<p class="li"><%= link_to('Read more&hellip;', @item) %></p>
<% end %>

<% content_for :script do %>

    var map = L.map('map', {zoomControl: false});
    map.attributionControl.setPrefix('');

    var layers = {
        'Oilslick': L.tileLayer.fallback('http://s3.amazonaws.com/oilslick/{z}/{x}/{y}.jpg', {
            maxZoom: 11,
            attribution: '<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC4.0 BY-SA-NC</a> Drew Roos, <a href="http://www.viewfinderpanoramas.org/dem3.html">Jonathan de Ferranti</a>, <a href="http://nsidc.org/data/nsidc-0082">NSIDC</a>',
        }),
        'Conventional': L.tileLayer('http://maps-for-free.com/layer/relief/z{z}/row{y}/{z}_{x}-{y}.jpg', {
            maxZoom: 11,
            attribution: '<a href="http://maps-for-free.com">Maps4Free</a>',
        }),
        'Terrain': L.tileLayer('https://api.mapbox.com/styles/v1/mrgriscom/ckzv0s7d6000l14p8h8wctkze/tiles/256/{z}/{x}/{y}?access_token=pk.eyJ1IjoibXJncmlzY29tIiwiYSI6IjJKYUlRVHcifQ.j4XIpsV19H0CTryO_QIfGg', {
            attribution: '<a href="http://www.mapbox.com/about/maps/">MapBox</a>',
        }),
        'Satellite': L.tileLayer('https://api.mapbox.com/v4/mapbox.satellite/{z}/{x}/{y}.jpg70?access_token=pk.eyJ1IjoibXJncmlzY29tIiwiYSI6IjJKYUlRVHcifQ.j4XIpsV19H0CTryO_QIfGg', {
            attribution: '<a href="http://www.mapbox.com/about/maps/">MapBox</a>',
        }),
    }

    var SearchControl = L.Control.extend({
        options: {
            position: 'topright'
        },

        onAdd: function (map) {
            var $div = $('#search-ctrl');
            $div.show();
            L.DomEvent.disableClickPropagation($div[0]);
            return $div[0];
        },
    });
    new SearchControl().addTo(map);

    L.control.layers(layers).addTo(map);
    map.addLayer(layers['Oilslick']);

    L.control.zoom({position: 'topright'}).addTo(map);
    L.control.scale({position: 'bottomright'}).addTo(map);

    var setCenter = function(lat, lon, z) {
       var offset = $('#sidebar').width() / 2;
       lon -= offset * 360. / 256. / Math.pow(2, z);
       map.setView(L.latLng(lat, lon), z);
    }
    setCenter(30, 0, 2)

    $('.loc').click(function(evt) {
        var $e = $(evt.target);
        var lat = +$e.attr('lat');
        var lon = +$e.attr('lon');
        var z = +$e.attr('z') || 10;
        setCenter(lat, lon, z);
    });

    var GoogleGeocoder = function() {
        var that = this;
        google.maps.event.addDomListener(window, 'load', function() {
            that.geocoder = new google.maps.Geocoder();
        });
        this.geocode = function(query, callbacks) {
            // caution: geocoder is loaded async
            that.geocoder.geocode({address: query}, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var pos = results[0].geometry.location;
                    callbacks.onresult(pos.lat(), pos.lng());
                } else {
                    callbacks.onnoresult();
                }
            });
        }
    };
    var geocoder = new GoogleGeocoder();
    $('#search').submit(function() {
        var callbacks = {
            onresult: function(lat, lon) {
                setCenter(lat, lon, 10);
            },
            onnoresult: function() {
                alert('no results found');
            },
        };

        var match_ll = function(q) {
            var FLOAT_PATTERN = '[+-]?(?:\\d*\\.\\d+|\\d+\\.?)';
            var LL_PATTERN = '^(' + FLOAT_PATTERN + ')(?: |,|, )(' + FLOAT_PATTERN + ')$';
            var matches = q.match(new RegExp(LL_PATTERN));
            if (matches) {
                var lat = +matches[1];
                var lon = +matches[2];
                if (lat <= 90 && lat >= -90 && lon <= 360 && lon >= -180) {
                    return [lat, lon];
                }
            }
            return null;
        }

        var query = $('#locsearch').val().trim();
        var literal_ll = match_ll(query);
        if (literal_ll) {
            callbacks.onresult(literal_ll[0], literal_ll[1]);        
        } else {
            geocoder.geocode(query, callbacks);
        }
        return false;
    });

<% end %>

<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>
<script src="/script/leaflet.tilelayer.fallback.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9R4KmWiOCHumjFmrgKDEzdiPMd5NwwbY"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400|600" />

<style>

html {
  height: 100%;
}

a {
  color: #08d;
}
a:visited {
  color: #08d;
}
a:hover {
  color: #09f;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

#legend {
  border-left: 1px solid #555;
  background-image: url(/img/oilslick/legend.jpg);
  background-size: 100% 100%;
  transition: margin 0.25s;
  position: relative;

  color: white;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 85%;
  width: 6em;
  margin-right: -5.2em;
}
#legend:hover {
  margin-right: 0;
}

.ticklabel {
  width: 6em;
  position: absolute;
  white-space: nowrap;
  line-height: 1em;
}

.ticklabel-inner {
  margin-top: -0.5em;
  text-align: center;
}

.ticktop {
  margin-top: 0.1em;
}

.tickbottom {
  margin-top: -1.1em;
}

#map {
  flex: 1;
  background: black;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 32em;
  color: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

#titlebar {
  background: #222;
  border-bottom: 1px solid #333;
  height: 30px;
  padding-left: 0.2em;
}
#titlebar a {
  color: white;
  text-decoration: none;
}
#titlebar a:visited {
  color: white;
}
#titlebar a:hover {
  color: #def;
  text-decoration: underline;
}

#text {
  flex: 1;
  overflow: auto;
  padding: 1em 3em;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}

</style>

<div id="search-ctrl" style="display: none;">
  <form id="search" style="vertical-align: middle;">
    <input id="locsearch" placeholder="search for feature&hellip;" style="width: 20em;"></input>
    <!--<input type="submit" value="Go"></input>-->
  </form>
</div>

<div id="sidebar">

<div id="titlebar">
  <span style="font-family: &quot;Open Sans Condensed&quot;, sans-serif; font-size: 150%;"><b>OIL</b>SLICK</span>
  <span style="font-family: &quot;Open Sans&quot;, sans-serif; font-size: 80%;">by <a href="http://mrgris.com">Drew Roos</a></span>
</div>

<div id="text">

<p>
Introducing: <em>oilslick</em>, a color elevation map layer designed to highlight the fine detail in terrain, and perform equally well throughout the entire range of Earth's elevation.
</p>

<p>
Typical color elevation (aka "hypsometric") maps suffer from several flaws that this map layer attempts to remediate:

<ul>
<li>
Foremost, they use a palette of just a few colors.
This means small or gradual changes in elevation get washed out and are hard to see.

<p>
<em>Oilslick is designed to maximize contrast of small elevation differences</em>
</p>

<li>
To compensate, most maps bias the palette to have more color transitions at lower elevations.
This brings out detail in coastal regions, but at the expense of even worse detail at higher elevations.
Very high mountain ranges have almost no color differentiation at all.

<p>
<em>Oilslick is designed to work equally well at all elevations, and not favor any particular range over another</em>
</p>

<li>
Another common workaround for limited palettes is the use of "shaded relief".
This makes mountain ridges and other features "pop" by visualizing slope and texture.
But if trying to discern whether one peak or mountain pass is higher than another, you'll find it is still quite impossible.
And very gently sloping areas might not register any shading at all.

<p>
<em>
Oilslick is designed to faciliate narrow elevation comparisons, even over wide distances.
Each elevation value has a unique and distinctive color.
</em>
</p>

<li>
Lastly, nearly every hypsometric map uses the same damn color palette: green &#x2192; tan &#x2192; red &#x2192; white &mdash; a palette that encourages unfounded assumptions about land-cover.
A viewer sees green and thinks "forest", when in fact a low-lying area may be desert. 
The tan of higher elevations suggests arid plains, but could just as easily be forest.

<p>
<em>Oilslick consciously breaks this convention</em>
</p>
</ul>
</p>

<h3>Design</h3>

<p>
Human vision sees colors in three dimensions:

<ul>
<li><em>hue</em> (i.e., rainbow color)
<li><em>saturation</em> (i.e., grey vs. color)
<li><em>lightness</em> (i.e., black vs. white)
</ul>
</p>

<p>
By far, the eye is most sensitive to lightness.
Therefore, oilslick maximizes change in lightness per change in elevation.
Small elevation differences lead to rapid changes in lightness.
</p>

<p>
But there are only so many levels of lightness ("dynamic range") to go through.
So once we max out, we immediately reverse direction, <em>decreasing</em> lightness at the same rate per increase in elevation, until we hit the bottom of the range, and so on&hellip;
This creates a zig-zagging pattern of the lightness level.
Each cycle, or zig+zag from black &#x2192; white &#x2192; black again, covers 500m of elevation.
</p>

<p>
To differentiate among the lightness cycles, hue creeps forward more slowly with elevation.
Hue makes one complete cycle &mdash; proceeding through every rainbow color &mdash; over the full range of land elevation on Earth (9,275m between the <a href="#" class="loc" lat="31.55" lon="35.47">Dead Sea</a> and <a href="#" class="loc" lat="27.99" lon="86.93">Mt. Everest</a>, rounded up to 9,500, or 19 lightness cycles).
Thus every cycle is a slightly different color from the one preceding.
</p>

<p>
To distinguish the ascending and descending phases of the cycle (zig from zag), we vary saturation.
The ascending phase uses saturated colors, and the descending phase desaturated.
So when colors are getting darker, if the colors are saturated it means going <b>down</b>, whereas desaturated means going <b>up</b>.
</p>

<p>
Thus the oilslick palette assigns each elevation value a unique and fairly distinctive color, and employs a color range much larger than a typical elevation map.
</p>

<p>
There is a discontinuity in hue at sea level to make coastlines apparent.
After already condemning overly-suggestive color choices, I feel slightly cheating that the two hues at sea level are orange and blue &mdash; evocative of land and water.
But it is actually somewhat of an accident.
My first draft used red as the base hue to completely divorce color and biome, but, given the organic appearance of landforms, everything looked a bit too much like <a href="/img/oilslick/meat1.jpg" target="_blank">raw meat</a> or otherwise disturbingly <a href="/img/oilslick/meat2.jpg" target="_blank">biological</a>.
</p>

<p>
The key to making this all work out is <em>perceptual uniformity</em>, i.e., how well your color scheme can isolate and map to those three axes of color perception &mdash; something most color schemes are notoriously terrible at.
Version 1 used the <a href="http://en.wikipedia.org/wiki/HSL_and_HSV">HSL</a> colorspace, which has awful variation in lightness depending on hue, but it was enough to validate the concept.
Version 2 used the gold standard <a href="http://en.wikipedia.org/wiki/Lab_color_space">Lab</a> colorspace, and everything seemed fine until&hellip; the rude surprise that <a href="http://www.brucelindbloom.com/index.html?MunsellCalcHelp.html#UPAttributes"><b>Lab is not perceptually uniform in hue!</b></a>
</p>

<p>
If you want <em>true</em> uniformity in all dimensions, you need to go all the way to the <a href="http://en.wikipedia.org/wiki/Munsell_color_system">Munsell</a> color system.
Munsell is derived from extensive tests of actual human vision.
As such, there is no easy formula; you must interpolate between samples of known reference colors.
Oh, and did I mention the only public dataset of these samples was collected in the 1930's using illumination standards that are now obsolete?
But&hellip; it works.
</p>

<p>
But even now, the hue of Munsell still does not appear entirely perceptually uniform to me.
It seems to dwell in the teals and blues, while the transition from purple through green feels much more abrupt.
But who am I to argue with hard data.
</p>

<h3>Appearance</h3>

<p>
I am very pleased with the initial result.
The map is lush, beautiful, and a bit trippy.
It is not just incidental to some other map presentation, but stands as an artifact in its own right.
</p>

<p>
The map explodes in detail in a way that reminds me of the old fractal renders I used to make when I was 15.
</p>

<p>
The cycling and purity of colors looks a lot like a thin-film interference pattern, hence the name: oilslick.
This could be a point of confusion for my more GIS-educated viewers: the pattern is easily mistaken for the <a href="http://www.esa.int/var/esa/storage/images/esa_multimedia/images/2014/09/sentinel-1_maps_earthquake/14770850-1-eng-GB/Sentinel-1_maps_earthquake.jpg">raw result of radar interferometry elevation mapping</a> (which was the method used to produce most of the data in this dataset).
But this is <strong>not</strong> the case; what you see here is final, post-processed elevation data.
</p>

<p>
There is certainly a learning curve to truly understanding the map.
You see small-scale changes in terms of lightness.
You see large-scale changes in terms of hue.
And it turns out the map is quite good at conveying <a href="#" class="loc" lat="35.15" lon="78.03" z="7">texture</a>.
Note the starkly different appearance of rugged mountains, glaciers, high plateau, and dunes.
</p>

<h3>Caveats</h3>

<p>
This is not to say an oilslick-style elevation map is strictly superior.
</p>

<p>
It is easy to lose the big picture.
Without shaded relief, larger landforms don't instantly "pop" into view.
Subtle changes in slope that shaded relief would highlight are swamped here by rapidly changing color.
Oilslick definitely favors the flat.
</p>

<p>
In fact, for tall features, the color-banding starts to resemble a traditional topographic contour map &mdash; a type of map that people literally have to be trained to use.
</p>

<p>
But, while not a silver bullet, my hope is that oilslick illuminates terrain in a way that other maps have yet failed to do.
</p>

<h3>Coverage, Sources, and Licensing</h3>

<p>
Coverage is global.
All of Earth's landforms (excepting the immediate vicinity of the South Pole) are represented.
</p>

<p>
Data resolution is 3&#x2033; / 90m, or down to zoom level 11 (less at high latitudes).
<em>Actual</em> data resolution for some areas may be lower, sometimes much lower, notably the Greenland and Antarctic icecaps.
</p>

<p>
Source data is the <em>amazing</em> work of <a href="http://www.viewfinderpanoramas.org/dem3.html">Jonathan de Ferranti</a>, who assembled a complete global digital elevation model, filling in the extensive gaps in <a href="http://en.wikipedia.org/wiki/Shuttle_Radar_Topography_Mission">SRTM</a> data.
Supplementary data in his dataset is pulled from myriad sources, including hand-digitizing of old Russian topographic maps!
</p>

<p>
This map layer is hosted as a public service, and map tiles are free to use under a <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons 4.0 Attribution-NonCommercial-ShareAlike</a> license.
</p>

</div>
</div>

<div id="map"></div>
<div id="legend">
<div class="tickmarks-inner">
  <div class="ticklabel" style="top: 0%;">
	<div class="ticklabel-inner ticktop">9000m</div>
  </div>
  <div class="ticklabel" style="top: 15.79%;">
	<div class="ticklabel-inner">7500m</div>
  </div>
  <div class="ticklabel" style="top: 31.58%;">
	<div class="ticklabel-inner">6000m</div>
  </div>
  <div class="ticklabel" style="top: 47.37%;">
	<div class="ticklabel-inner">4500m</div>
  </div>
  <div class="ticklabel" style="top: 63.16%;">
	<div class="ticklabel-inner">3000m</div>
  </div>
  <div class="ticklabel" style="top: 78.95%;">
	<div class="ticklabel-inner">1500m</div>
  </div>
  <div class="ticklabel" style="top: 94.74%;">
	<div class="ticklabel-inner">SEA LEVEL</div>
  </div>
  <div class="ticklabel" style="top: 100%;">
	<div class="ticklabel-inner tickbottom">&minus;500m</div>
  </div>
</div>
