--- 
title: Oilslick
thumb: oilslick.jpg
---

<% content_for :lede do %>
<p>
A color elevation map layer designed to maximize contrast of small elevation differences and highlight the fine detail in terrain.
Made to address what I perceive to be flaws in typical color elevation ("hypsometric") maps.
The end result is vibrant, a bit disorienting, and absolutely saturated with information.
Provides global coverage to 3&#x2033; / 90m resolution.
</p>

<p class="li"><%= link_to('View', @item) %></p>
<% end %>

<% content_for :script do %>

    var map = L.map('map', {zoomControl: false}).setView([30, -60], 2);
    map.attributionControl.setPrefix('');

    var layers = {
        'Oilslick': L.tileLayer('http://s3.amazonaws.com/oilslick/{z}/{x}/{y}.jpg', {
            maxZoom: 11,
            attribution: '<a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC4.0 BY-SA-NC</a> Drew Roos, <a href="http://www.viewfinderpanoramas.org/dem3.html">Jonathan de Ferranti</a>, <a href="http://nsidc.org/data/nsidc-0082">NSIDC</a>',
        }),
        'Conventional': L.tileLayer('http://maps-for-free.com/layer/relief/z{z}/row{y}/{z}_{x}-{y}.jpg', {
            maxZoom: 11,
            attribution: '<a href="http://maps-for-free.com">Maps4Free</a>',
        }),
        'Terrain': L.tileLayer('https://{s}.tiles.mapbox.com/v3/mrgriscom.i8gjfm3i/{z}/{x}/{y}.png', {
            attribution: '<a href="http://www.mapbox.com/about/maps/">MapBox</a>',
        }),
    }
    L.control.layers(layers).addTo(map);
    map.addLayer(layers['Oilslick']);

    L.control.zoom({position: 'topright'}).addTo(map);
    L.control.scale({position: 'bottomright'}).addTo(map);

<% end %>

<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.2/leaflet.css" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400|600" />

<style>

html {
  height: 100%;
}

a {
  color: #058;
}
a:visited {
  color: #058;
}
a:hover {
  color: #07a;
}

body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#map {
  width: 100%;
  height: 100%;
  background: black;
}

#sidebar {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .9);
  height: 100%;
  width: 32em;
  color: white;
  z-index: 10000;
  display: flex;
  flex-direction: column;
}

#titlebar {
  background: #222;
  border-bottom: 1px solid black;
  height: 30px;
  padding-left: 0.2em;
}
#titlebar a {
  color: white;
  text-decoration: none;
}
#titlebar a:visited {
  color: white;
}
#titlebar a:hover {
  color: #def;
  text-decoration: underline;
}

#text {
  flex: 1;
  overflow: auto;
  padding: 1em 3em;
  font-family: "Open Sans", sans-serif;
  font-size: 90%;
}

</style>

<div id="sidebar">

<div id="titlebar">
  <span style="font-family: &quot;Open Sans Condensed&quot;, sans-serif; font-size: 150%;"><b>OIL</b>SLICK</span>
  <span style="font-family: &quot;Open Sans&quot;, sans-serif; font-size: 80%;">by <a href="http://mrgris.com">Drew Roos</a></span>
</div>

<div id="text">

<p>
Introducing: <em>oilslick</em>, a color elevation map layer designed to highlight the fine detail in terrain, and do so equally well throughout the entire range of Earth's elevation.
</p>

<p>
Typical color elevation (aka "hypsometric") maps suffer from several flaws that this map layer attempts to remediate.

<ul>
<li>
Foremost, they use a palette of just a few colors.
This means small or gradual changes in elevation get washed out and are hard to see.

<p>
<em>Oilslick is designed to maximize contrast of small elevation differences</em>
</p>

<li>
To compensate, most maps bias the palette to have more color transitions at lower elevations.
This brings out detail in coastal regions, but at the expense of even worse detail at higher elevations.
Very high mountain ranges have almost no color differentiation at all.

<p>
<em>Oilslick is designed to work equally well at all elevations, and not favor any particular range over another</em>
</p>

<li>
Another common workaround for limited palettes is the use of "shaded relief".
This makes mountain ridges and other features "pop" by visualizing slope and texture.
But if trying to discern whether one peak or mountain pass is higher than another, you'll find it is still quite impossible.
And very gently sloping areas might not register any shading at all.

<p>
<em>
Oilslick is designed to faciliate narrow elevation comparisons, even over wide distances.
Each elevation value has a unique and distinctive color.
</em>
</p>

<li>
Lastly, nearly all hypsometric maps use the same damn color palette: green &#x2192; tan &#x2192; red &#x2192; white &mdash; a palette that encourages unfounded assumptions about land-cover.
A viewer sees green and thinks "forest", when in fact a low-lying area may be desert. 
The tan of higher elevations suggests arid plains, but could easily be forest.

<p>
<em>Oilslick intentionally breaks this convention</em>
</p>
</ul>
</p>

<h3>Design</h3>

<p>
The first insight is that the palette of available colors is much larger than those typically chosen to represent elevation. Oilslick uses a much wider color gamut.
</p>

<p>
Human vision sees colors in three dimensions: hue (rainbow color), saturation (greyness vs coloredness), and lightness (white vs. black). By far, the eye is most sensitive to changes in lightness. So the oilslick palette ensures maximum change in lightness per difference in elevation, at all elevations. The problem is there is only so many levels of lightness to go through ("dynamic range"), so once we reach the maximum, we immediate reverse direction, until we hit the minimum, then reverse again. This creates zig-zagging 'cycles' of lightness. To differentiate these cycles, hue creeps forward by a set amount each cycle. To distinguish the ascending and descending lightness portions of each cycle, we vary the saturation. The ascending portion is more saturated, while the descending is less. Thus we assign a unique, and distinguishable color to every possible elevation value. The only difficult to discriminate parts are at the sharp corners of the zig-zag.
</p>

<p>
Lightness makes a complete cycle every 500 meters. Hue makes one complete cycle over the full elevation range of 9500 meters.
</p>

<p>
There appears to be a slight cheat in which coastal is orange and sea-level is blue, suggesting 'land' and 'water', but despite that nice aesthetic, it is mostly coincidental. I origally started things at hue of pure red, but everything looked a bit disturbingly biological... gruesome raw meat. There is a discontinuty in hue to highlight above/below sea level, which moved sea-level and below into the blue range.
</p>

APPEARANCE

The result is trippy and beautiful. Lush primary colors via the munsell color system. Thus all changes in brightness are equal regardless of hue. HSV has pretty poor uniformity of the various color dimensions. Lab is supposed to be better but... Lab is not uniform in hue! Instead you must go all the way to the munsell color system, derived from human vision trials, and has no easy formula -- in fact you must interpolate between color samples of known reference points collected in the 30's using lighting conditions that are now obsolete. But... it works. Even now the hue does not look entirely uniform to me -- transitions from purple to red to green look much more abrupt when from green to blue to purple, but, whatever.

You do lose the immediate popping effect of shaded terrain, and in particular it is more difficult to discern steepness. In a way, the lightness cycles almost create a contour map combined with a color elevation map. But there are side effects. At large scales, where shaded relief becomes jumbled, oilslick can differentiate rough and smooth. Notice how easily glaciers pop out in the high himalayas.

There is a learning curve for reading the map properly. Two scales at play -- small differences from lightness; large differences from hue.

you do lose the bigger picture


srtm phase angle comparison

fractal appearance

SOURCE DATA, COVERAGE, LICENSING

3&#x2033;/90m, z11

de ferranti
</div>
</div>

<div id="map"></div>
