--- 
title: Quizzi
thumb: quizzi.png
style: project
---

<% content_for :lede do %>
<p>
An interactive quiz/training tool for Android. An instructor uses Quizzi to pose questions to a class; Quizzi receives their answers over SMS and tabulates them in real-time. Think "<a href="https://www.google.com/search?q=clickers&tbm=isch">clickers</a>" but without the infrastructure and cost. The only infrastructure requirements are: students' personal cell phones, the instructor's Android phone running Quizzi, reliable cell service, and credit to cover SMS usage. A <a href="http://dimagi.com">Dimagi</a> project.
</p>

<p class="li"><a href="http://market.android.com/details?id=com.dimagi.quizzi">Android Market</a></p>
<p class="li"><a href="http://bitbucket.org/dimagi/quizzi/">Source</a></p>
<% end %>

<p>There is nothing here yet.</p>

<p>This project is still in its very early stages. In the meantime, <a href="http://bitbucket.org/dimagi/quizzi/">view the source</a> or <a href="http://market.android.com/details?id=com.dimagi.quizzi">try the app</a> yourself!</p>
