--- 
title: Country Count
style: countrycount
data:
- country: United States
  date: native
  duration: decades
  noteworthies:
  - Alaska
  - Hawaii
  - desc: southernmost point
    name: Ka Lae
  - desc: easternmost point
    name: West Quoddy Head
  - desc: northernmost point in !place{New England}
    name: Estcourt Station
  - desc: lowest point
    name: Badwater Basin

- country: Spain
  date: Jan 1998
  duration: months
  noteworthies:
  - Canary Islands
  - Ceuta

- country: Andorra
  date: Jan 1998
  duration: weeks

- country: Cayman Islands
  sovereign: UK
  date: Mar 1999
  duration: days

- country: Japan
  date: Jul 2001
  duration: days

- country: Canada
  dates:
  - date: Oct 2002
    type: border hop
  - Jun 2009
  duration: weeks
  noteworthies:
  - Labrador
  - desc: easternmost point
    name: Cape Spear

- country: Bahamas
  date: Mar 2004
  duration: days

- country: France
  date: Aug 2005
  duration: days

- country: Monaco
  dates:
  - date: Aug 2005
    type: in transit
  - Nov 2007
  duration: hours
  overnight: false

- country: Italy
  date: Aug 2005
  duration: weeks
  noteworthies:
  - Sicily

- country: Mexico
  dates:
  - date: Oct 2005
    type: border hop
  - date: Jul 2017
  duration: days

- country: Puerto Rico
  sovereign: US
  date: Feb 2006
  duration: weeks

- country: Iceland
  date: Aug 2007
  duration: weeks

- country: Sweden
  date: Aug 2007
  duration: days

- country: Western Sahara
  status: "disputed: !place{Morocco}/!place{SADR} government-in-exile"
  date: Sep 2007
  duration: days
  comments:
  - visited Moroccan-controlled territory only

- country: Morocco
  date: Sep 2007
  duration: weeks

- country: Gibraltar
  sovereign: UK
  date: Sep 2007
  duration: hours
  overnight: false

- country: Portugal
  date: Sep 2007
  duration: days

- country: Netherlands
  date: Oct 2007
  duration: weeks
  noteworthies:
  - Baarle-Nassau

- country: Belgium
  date: Oct 2007
  duration: days
  noteworthies:
  - Baarle-Hertog

- country: United Kingdom
  date: Oct 2007
  duration: days

- country: Germany
  date: Oct 2007
  duration: weeks

- country: Czech Republic
  date: Oct 2007
  duration: days

- country: Denmark
  date: Nov 2007
  duration: days

- country: Luxembourg
  date: Nov 2007
  duration: hours
  overnight: false

- country: Switzerland
  date: Nov 2007
  duration: weeks

- country: Liechtenstein
  date: Nov 2007
  duration: hours
  overnight: false

- country: San Marino
  date: Nov 2007
  duration: hours
  overnight: false

- country: Vatican City
  date: Nov 2007
  duration: hours
  overnight: false
  comments:
  - circumnavigated on foot
  - never outdoors while inside the city walls

- country: Malta
  date: Dec 2007
  duration: days

- country: Austria
  date: Dec 2007
  duration: days

- country: Slovakia
  dates:
  - date: Dec 2007
    type: in transit
  duration: hours
  overnight: false

- country: Hungary
  date: Dec 2007
  duration: weeks

- country: Poland
  date: Dec 2007
  duration: days

- country: Tanzania
  date: May 2008
  duration: months
  noteworthies:
  - Zanzibar

- country: South Africa
  date: Jun 2008
  duration: years
  noteworthies:
  - desc: all 9 provinces
    name: Provinces of South Africa
  - desc: southernmost point
    name: Cape Agulhas

- country: Lesotho
  date: Jun 2008
  duration: days

- country: St. Pierre and Miquelon
  sovereign: France
  date: Jun 2009
  duration: days

- country: Jordan
  date: Dec 2009
  duration: days

- country: Lebanon
  date: Dec 2009
  duration: days

- country: Kenya
  date: Dec 2009
  duration: weeks

- country: Malawi
  date: Mar 2010
  duration: days

- country: Zambia
  date: Mar 2010
  duration: months

- country: Zimbabwe
  dates:
  - date: Apr 2010
    type: border hop
  duration: hours
  overnight: false

- country: Mozambique
  date: May 2010
  duration: weeks

- country: Swaziland
  date: May 2010
  duration: days

- country: United Arab Emirates
  date: Apr 2011
  duration: days

- country: Afghanistan
  date: Apr 2011
  duration: weeks

- country: Brazil
  date: Jan 2012
  duration: months

- country: Nigeria
  date: Jul 2012
  duration: weeks

- country: Guatemala
  date: Jan 2014
  duration: months

- country: Bermuda
  sovereign: UK
  date: Dec 2015
  duration: days

---

<ol>
<% @item[:data].map {|e| Country.new(e)}.each_with_index do |e, i| %>
  <li>
    <div class="ordinal"><span class="hash">#</span><%= i + 1 %></div>

    <div class="dates">
    <% if e.native? %>
      <span class="datenative">native country<br></span>
    <% else %>
      <% e.dates.each do |date, type| %>
        <% if type %><span class="datequal">(<%= type %>)</span> <% end %><span<% if not e.complete? %> class="incomplete"<% end %>><%= date %></span><br>
      <% end %>
    <% end %>
      <div class="duration">
        <span class="dur-<%= e.dur %>"><%= e.dur %><% if not e.overnight %><br><s>overnight</s><% end %></span>
      </div>
    </div>

    <span class="country"><%= e._country %><% if e.sov %><span class="sov"> (<%= e.sov %>)</span><% end %></span>
    <% if e._status %><div class="status">(<%= e._status %>)</div><% end %>

    <div class="detail">
    <% if not e.noteworthy.empty? %><b>&raquo;</b> <%= e.noteworthy.map {|n| '<nobr>%s</nobr>' % n}.join(', ') %><br><% end %>
    <% if not e.comments.empty? %><b>&dagger;</b> <%= e.comments.join('; ') %><br><% end %>
    </div>
  </li>
<% end %>
</ol>

<% total_countries = @items.find { |i| i.identifier == '/travel/countrylist/' }[:data].size %>
<p class="remain"><a class="remain-count" href="/travel/countrylist/"><%= total_countries - @item[:data].count %></a>&nbsp;&nbsp;to go&hellip;</p>
