---
data:
- name: Afghanistan
  status: sovereign
- name: Albania
  status: sovereign
- name: Algeria
  status: sovereign
- name: Andorra
  status: sovereign
- name: Angola
  status: sovereign
- name: Antigua and Barbuda
  status: sovereign
- name: Argentina
  status: sovereign
- name: Armenia
  status: sovereign
- name: Australia
  status: sovereign
- name: Austria
  status: sovereign
- name: Azerbaijan
  status: sovereign
- name: Bahamas
  status: sovereign
- name: Bahrain
  status: sovereign
- name: Bangladesh
  status: sovereign
- name: Barbados
  status: sovereign
- name: Belarus
  status: sovereign
- name: Belgium
  status: sovereign
- name: Belize
  status: sovereign
- name: Benin
  status: sovereign
- name: Bhutan
  status: sovereign
- name: Bolivia
  status: sovereign
- name: Bosnia and Herzegovina
  status: sovereign
- name: Botswana
  status: sovereign
- name: Brazil
  status: sovereign
- name: Brunei
  status: sovereign
- name: Bulgaria
  status: sovereign
- name: Burkina Faso
  status: sovereign
- name: Burundi
  status: sovereign
- name: Cambodia
  status: sovereign
- name: Cameroon
  status: sovereign
- name: Canada
  status: sovereign
- name: Cape Verde
  status: sovereign
- name: Central African Republic
  status: sovereign
- name: Chad
  status: sovereign
- name: Chile
  status: sovereign
- name: China
  status: sovereign
- name: Colombia
  status: sovereign
- name: Comoros
  status: sovereign
- name: Congo (DRC)
  status: sovereign
  key: DRC
- name: Congo (Republic of)
  status: sovereign
  key: Congo
- name: Costa Rica
  status: sovereign
- name: Croatia
  status: sovereign
- name: Cuba
  status: sovereign
- name: Cyprus
  status: sovereign
- name: Czech Republic
  status: sovereign
- name: Denmark
  status: sovereign
- name: Djibouti
  status: sovereign
- name: Dominica
  status: sovereign
- name: Dominican Republic
  status: sovereign
- name: East Timor
  status: sovereign
- name: Ecuador
  status: sovereign
- name: Egypt
  status: sovereign
- name: El Salvador
  status: sovereign
- name: Equatorial Guinea
  status: sovereign
- name: Eritrea
  status: sovereign
- name: Estonia
  status: sovereign
- name: Ethiopia
  status: sovereign
- name: Fiji
  status: sovereign
- name: Finland
  status: sovereign
- name: France
  status: sovereign
- name: Gabon
  status: sovereign
- name: Gambia
  status: sovereign
- name: Georgia
  status: sovereign
- name: Germany
  status: sovereign
- name: Ghana
  status: sovereign
- name: Greece
  status: sovereign
- name: Grenada
  status: sovereign
- name: Guatemala
  status: sovereign
- name: Guinea
  status: sovereign
- name: Guinea-Bissau
  status: sovereign
- name: Guyana
  status: sovereign
- name: Haiti
  status: sovereign
- name: Honduras
  status: sovereign
- name: Hungary
  status: sovereign
- name: Iceland
  status: sovereign
- name: India
  status: sovereign
- name: Indonesia
  status: sovereign
- name: Iran
  status: sovereign
- name: Iraq
  status: sovereign
- name: Ireland
  status: sovereign
- name: Israel
  status: sovereign
- name: Italy
  status: sovereign
- name: Ivory Coast
  status: sovereign
- name: Jamaica
  status: sovereign
- name: Japan
  status: sovereign
- name: Jordan
  status: sovereign
- name: Kazakhstan
  status: sovereign
- name: Kenya
  status: sovereign
- name: Kiribati
  status: sovereign
- name: Kuwait
  status: sovereign
- name: Kyrgyzstan
  status: sovereign
- name: Laos
  status: sovereign
- name: Latvia
  status: sovereign
- name: Lebanon
  status: sovereign
- name: Lesotho
  status: sovereign
- name: Liberia
  status: sovereign
- name: Libya
  status: sovereign
- name: Liechtenstein
  status: sovereign
- name: Lithuania
  status: sovereign
- name: Luxembourg
  status: sovereign
- name: Macedonia
  status: sovereign
- name: Madagascar
  status: sovereign
- name: Malawi
  status: sovereign
- name: Malaysia
  status: sovereign
- name: Maldives
  status: sovereign
- name: Mali
  status: sovereign
- name: Malta
  status: sovereign
- name: Marshall Islands
  status: sovereign
- name: Mauritania
  status: sovereign
- name: Mauritius
  status: sovereign
- name: Mexico
  status: sovereign
- name: Micronesia (Federated States of)
  status: sovereign
  key: Micronesia
- name: Moldova
  status: sovereign
- name: Monaco
  status: sovereign
- name: Mongolia
  status: sovereign
- name: Montenegro
  status: sovereign
- name: Morocco
  status: sovereign
- name: Mozambique
  status: sovereign
- name: Myanmar (Burma)
  status: sovereign
  key: Myanmar
- name: Namibia
  status: sovereign
- name: Nauru
  status: sovereign
- name: Nepal
  status: sovereign
- name: Netherlands
  status: sovereign
- name: New Zealand
  status: sovereign
- name: Nicaragua
  status: sovereign
- name: Niger
  status: sovereign
- name: Nigeria
  status: sovereign
- name: North Korea
  status: sovereign
- name: Norway
  status: sovereign
- name: Oman
  status: sovereign
- name: Pakistan
  status: sovereign
- name: Palau
  status: sovereign
- name: Panama
  status: sovereign
- name: Papua New Guinea
  status: sovereign
- name: Paraguay
  status: sovereign
- name: Peru
  status: sovereign
- name: Philippines
  status: sovereign
- name: Poland
  status: sovereign
- name: Portugal
  status: sovereign
- name: Qatar
  status: sovereign
- name: Romania
  status: sovereign
- name: Russia
  status: sovereign
- name: Rwanda
  status: sovereign
- name: St. Kitts and Nevis
  status: sovereign
- name: St. Lucia
  status: sovereign
- name: St. Vincent and the Grenadines
  status: sovereign
- name: Samoa
  status: sovereign
- name: San Marino
  status: sovereign
- name: Sao Tome and Principe
  status: sovereign
- name: Saudi Arabia
  status: sovereign
- name: Senegal
  status: sovereign
- name: Serbia
  status: sovereign
- name: Seychelles
  status: sovereign
- name: Sierra Leone
  status: sovereign
- name: Singapore
  status: sovereign
- name: Slovakia
  status: sovereign
- name: Slovenia
  status: sovereign
- name: Solomon Islands
  status: sovereign
- name: Somalia
  status: sovereign
- name: South Africa
  status: sovereign
- name: South Korea
  status: sovereign
- name: South Sudan
  status: sovereign
- name: Spain
  status: sovereign
- name: Sri Lanka
  status: sovereign
- name: Sudan
  status: sovereign
- name: Suriname
  status: sovereign
- name: Swaziland
  status: sovereign
- name: Sweden
  status: sovereign
- name: Switzerland
  status: sovereign
- name: Syria
  status: sovereign
- name: Tajikstan
  status: sovereign
- name: Tanzania
  status: sovereign
- name: Thailand
  status: sovereign
- name: Togo
  status: sovereign
- name: Tonga
  status: sovereign
- name: Trinidad and Tobago
  status: sovereign
- name: Tunisia
  status: sovereign
- name: Turkey
  status: sovereign
- name: Turkmenistan
  status: sovereign
- name: Tuvalu
  status: sovereign
- name: Uganda
  status: sovereign
- name: Ukraine
  status: sovereign
- name: United Arab Emirates
  status: sovereign
- name: United Kingdom
  status: sovereign
- name: United States
  status: sovereign
- name: Uruguay
  status: sovereign
- name: Uzbekistan
  status: sovereign
- name: Vanuatu
  status: sovereign
- name: Vatican City
  status: sovereign
- name: Venezuela
  status: sovereign
- name: Vietnam
  status: sovereign
- name: Yemen
  status: sovereign
- name: Zambia
  status: sovereign
- name: Zimbabwe
  status: sovereign

- name: Kosovo
  status: defacto-with-recognition
  sovereign: Serbia
- name: Taiwan
  status: defacto-with-recognition
  sovereign: China
- name: Western Sahara (Sahrawi Arab Democratic Republic)
  status: defacto-with-recognition
  key: Western Sahara
  sovereign: Morocco
- name: Abkhazia
  status: defacto-no-recognition
  sovereign: Georgia
- name: Nagorno-Karabakh
  status: defacto-no-recognition
  sovereign: Azerbaijan
- name: Northern Cyprus
  status: defacto-no-recognition
  sovereign: Cyprus
- name: Somaliland
  status: defacto-no-recognition
  sovereign: Somalia
- name: South Ossetia
  status: defacto-no-recognition
  sovereign: Georgia
- name: Transnistria
  status: defacto-no-recognition
  sovereign: Moldova

- name: Akrotiri and Dhekelia (Sovereign Base Areas of)
  status: possession
  sovereign: UK
- name: American Samoa
  status: possession
  sovereign: US
- name: Anguilla
  status: possession
  sovereign: UK
- name: Aruba
  status: possession
  sovereign: Netherlands
- name: Bermuda
  status: possession
  sovereign: UK
- name: British Virgin Islands
  status: possession
  sovereign: UK
- name: Cayman Islands
  status: possession
  sovereign: UK
- name: Christmas Island
  status: possession
  sovereign: Australia
- name: Cocos (Keeling) Islands
  status: possession
  sovereign: Australia
- name: Cook Islands
  status: possession
  sovereign: NZ
- name: Curacao
  status: possession
  sovereign: Netherlands
- name: Falkland Islands
  status: possession
  sovereign: UK
- name: Faroe Islands
  status: possession
  sovereign: Denmark
- name: French Polynesia
  status: possession
  sovereign: France
- name: Gibraltar
  status: possession
  sovereign: UK
- name: Greenland
  status: possession
  sovereign: Denmark
- name: Guam
  status: possession
  sovereign: US
- name: Guernsey
  status: possession
  sovereign: UK
- name: Isle of Man
  status: possession
  sovereign: UK
- name: Jersey
  status: possession
  sovereign: UK
- name: Montserrat
  status: possession
  sovereign: UK
- name: New Caledonia
  status: possession
  sovereign: France
- name: Niue
  status: possession
  sovereign: NZ
- name: Norfolk Island
  status: possession
  sovereign: Australia
- name: Northern Mariana Islands
  status: possession
  sovereign: US
- name: Pitcairn Islands
  status: possession
  sovereign: UK
- name: Puerto Rico
  status: possession
  sovereign: US
- name: St. Barthelemy
  status: possession
  sovereign: France
- name: St. Helena, Ascension, and Tristan da Cunha
  status: possession
  sovereign: UK
- name: Sint Maarten
  status: possession
  sovereign: Netherlands
- name: St. Martin
  status: possession
  sovereign: France
- name: St. Pierre and Miquelon
  status: possession
  sovereign: France
- name: Tokelau
  status: possession
  sovereign: NZ
- name: Turks and Caicos Islands
  status: possession
  sovereign: UK
- name: US Virgin Islands
  status: possession
  sovereign: US
- name: Wallis and Futuna
  status: possession
  sovereign: France

- name: "&#xc5;land"
  status: treaty
  sovereign: Finland
- name: Antarctica
  status: treaty
- name: Hong Kong
  status: treaty
  sovereign: China
- name: Macau
  status: treaty
  sovereign: China
- name: Palestinian Territories
  status: treaty
  sovereign: Israel
- name: Svalbard
  status: treaty
  sovereign: Norway
---

<style>

body {
  font-family: sans-serif;
}

.visited {
  color: green;
  font-weight: bold;
}

</style>

<%

category_order = [
  'sovereign',
  'defacto-with-recognition',
  'defacto-no-recognition',
  'possession',
  'treaty',
]

category_titles = {
  'sovereign' => 'Sovereign Nations',
  'defacto-with-recognition' => '<em>de facto</em> Independent Countries, with some international recognition',
  'defacto-no-recognition' => '<em>de facto</em> Independent Countries, with little-to-no recognition',
  'possession' => 'Dependencies and Possessions',
  'treaty' => 'Special Entities recognized by International Treaty',
}

visited = @items.find { |i| i.identifier == '/travel/cc/' }[:data].map {|e| e[:key] or e[:country]}
visited = @item[:data].find_all {|e| visited.include? (e[:key] or e[:name])}

%>

<% @item[:data].group_by {|e| e[:status]}.sort_by {|k, v| category_order.find_index k}.each do |category, items| %>

<h1><%= category_titles[category] %> (<%= items.size %>)</h1>

<% items.sort_by {|e| e[:name]}.each do |e| %>
<%
  relationship = {
    'defacto-with-recognition' => 'claimed by',
    'defacto-no-recognition' => 'formally',
  }[e[:status]]
%>

<div><div style="display: inline-block; width: 1em;"><% if visited.include? e %><span class="visited">&#x2713;</span> <% end %></div><%= e[:name] %> <% if e[:sovereign] %>(<%= [relationship, e[:sovereign]].reject {|e| e.nil?}.join ' ' %>)<% end %>
</div>

<% end %>

<% end %>

<!-- num visited: <%= visited.size %> -->
