body {
	padding: 0 35px;
	margin: 0 auto;
	max-width: 900px;
    font-family: Arial, sans-serif;
	background: black url(/img/bg/carbon_fibre_white.png);
    color: black;
}

#window {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	height: 120px;
	z-index: -1;
	border-top: 2px solid #ccc;
	border-bottom: 3px solid #ccc;
	background: black url(/img/bg/milky_way.jpg) fixed;
}

h2 {
	margin: 0;
    color: #444;
	float: left;
	font: bold italic 30px/100px Georgia, serif;
}

#nav {
	float: right;
	font-size: 18px;
	line-height: 100px;
    color: #888;
}

#nav .navitem {
	font: italic 18px Georgia, serif;
}

#nav a {
    color: #444;
	text-decoration: none;
}

#nav a:hover {
    color: #477;
}

.active {
	color: #599;
}

h1 {
	clear: both;
    color: white;
	margin: 0 0 50px 0;
	font: bold italic 50px/120px Georgia, serif;
}

p {
	margin: 0 0 2.4em 0;
}

a:focus {
	outline: none;
}

.content {
  background: white;
  padding: 20px 80px 90px 80px;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, .3);
  position: relative;
}

.year-header {
  padding-left: 75px;
}

.date {
  width: 100px;
  text-align: right;
  vertical-align: top;
  padding-right: 25px;
  color: #888;
  font-size: 80%;
  line-height: 16pt;
  font-family: 'Open Sans', Helvetica, sans-serif;
}

.postdate {
  position: absolute;
  right: -40px;
  top: -90px;
  display: table;
}

.postdate-container {
  width: 180px;
  height: 180px;
  background: rgba(245, 245, 245, .7);
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  font-family: "Roboto Condensed", sans-serif;
}

.d {
  font-size: 48pt;
  line-height: 0.85em;
}
.m {
  font-size: 24pt;
  line-height: 0.85em;
}
.y {
  font-size: 18pt;
  line-height: 0.85em;
  color: #333;
}

.title {
  padding-bottom: 4px;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 12pt;
}

a {
  color: #048;
}

a:hover {
  color: #39e;
}

.title-header {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-style: normal;
  font-size: 27pt;
  color: black;
}

h3 {
	color: #555;
	font: bold italic 24px Georgia, serif;
}

h3 a {
  color: white;
  text-decoration: none;
}

ol {
  margin-top: -1.5em;
  margin-bottom: 2.5em;
}

#post {
  font-family: "EB Garamond", Georgia, serif;
  font-size: 14pt;
}

pre {
  color: white;
  background-color: #222;
  white-space: pre-wrap;
  margin: 3em 30px;
  padding: 15px;
  border-radius: 10px;
  border: 2px #667 solid;
}

code {
  font-size: 10pt;
}

#disqus_thread {
  margin-bottom: -80px;
}

#comments_break {
  margin-top: 100px;
  margin-bottom: 25px;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, rgba(64,64,128,0), rgba(64,64,128,0.4) 30%, rgba(64,64,128,0.6) 70%, rgba(64,64,128,0)); 
  background-image:    -moz-linear-gradient(left, rgba(64,64,128,0), rgba(64,64,128,0.6) 30%, rgba(64,64,128,0.6) 70%, rgba(64,64,128,0)); 
  background-image:     -ms-linear-gradient(left, rgba(64,64,128,0), rgba(64,64,128,0.6) 30%, rgba(64,64,128,0.6) 70%, rgba(64,64,128,0)); 
  background-image:      -o-linear-gradient(left, rgba(64,64,128,0), rgba(64,64,128,0.6) 30%, rgba(64,64,128,0.6) 70%, rgba(64,64,128,0)); 
}

.aside {
  color: grey;
  font-family: sans-serif;
  font-style: italic;
  font-size: 10pt;
}

#footer {
	text-align: center;
	padding: 50px 0 40px 0;
	color: #666;
	clear: both;
  font-size: 13px;
}

.li {
  margin: 0 0 1em 0;
}

