
body {
  font-size: 14px;
  line-height: 18px;
  color: #ccc;
}

p {
  max-width: 480px;
  text-align: justify;
}

li {
  max-width: 28em;
  text-align: justify;
}

.foot {
  vertical-align: super;
  font-size: 70%;
}

.foot a {
  text-decoration: none;
}

.footend {
  font-style: italic;
  font-size: 80%;
  max-width: 450px;
}

a:hover .footend {
  color: #ccc;
}

.footmark {
  color: white;
  font-weight: bold;
}

.footend em {
  font-style: normal;
}

table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

#mnswmain {
  height: 100%;
}

#mnswcontent {
  width: 550px;
}

#mnswsidebar {
  width: 250px;
  height: 100%;
}

.sidebarbg {
	padding: 10px;
	background: #555;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

  -moz-box-shadow: 15px 15px 25px #000;        
  -webkit-box-shadow: 15px 15px 25px #000;
  box-shadow: 15px 15px 25px #000;
}

.sidebarbg table {
  background-image: url(/img/proj_thumb/minesweepr.png);
  width: 100%;
  height: 100%;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}