
body {
  font-size: 14px;
  line-height: 18px;
  color: #ddd;
}

p {
  max-width: 480px;
  text-align: justify;
}

li {
  max-width: 28em;
  text-align: justify;
}

.foot {
  vertical-align: super;
  font-size: 70%;
}

.foot a {
  text-decoration: none;
}

.footend {
  font-style: italic;
  font-size: 80%;
  max-width: 450px;
}

a:hover .footend {
  color: #ccc;
}

.footmark {
  color: white;
  font-weight: bold;
}

.footend em {
  font-style: normal;
}

table {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

#mnswmain {
  height: 100%;
}

#mnswcontent {
  width: 550px;
	background: -webkit-linear-gradient(left, rgba(10,10,10,.6), rgba(10,10,10,.6) 89%, rgba(10,10,10,0.0) 93%, rgba(10,10,10,0.0));
	background: -moz-linear-gradient(left, rgba(10,10,10,.6), rgba(10,10,10,.6) 89%, rgba(10,10,10,0.0) 93%, rgba(10,10,10,0.0));
  padding: 20px;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}

#mnswsidebar {
  width: 250px;
  height: 100%;
}

.sidebarbg {
	padding: 10px;
	background: #555;
	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

  -moz-box-shadow: 15px 15px 25px #000;        
  -webkit-box-shadow: 15px 15px 25px #000;
  box-shadow: 15px 15px 25px #000;
}

.sidebarbg table {
  background-image: url(/img/bg/mnsw_sidebar.png);
  width: 100%;
  height: 100%;
	-webkit-border-radius: 14px;
	-khtml-border-radius: 14px;
	-moz-border-radius: 14px;
	border-radius: 14px;
}

.button {
  display: block;
  padding-left: 15px;
  padding-right: 20px;

  font-size: 16px;
  width: 170px;
  line-height: 40px;

	-webkit-border-radius: 20px;
	-khtml-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;

  color: #aaa;
	border: 1px solid rgba(65,65,65,.5);
  background-color: rgba(40,40,40,.5);

  margin-left: 20px;
  margin-top: 8px;
}

a.button {
  text-decoration: none;
  font-weight: bold;
}

.button:hover {
  color: white;
	border: 1px solid rgba(65,65,65,1.0);
	background: #444;
	background: -webkit-linear-gradient(top, #555, #333);
	background: -moz-linear-gradient(top, #555, #333);
}

.button:active {
	background: #466;
	background: -webkit-linear-gradient(top, #344, #577);
	background: -moz-linear-gradient(top, #344, #577);
}